.lista_box{
    margin-top: 7%;
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #555555;
    margin-top: 7%;
}
h2{
    text-align: justify;
    margin: 2%;
    color: black;
    text-shadow: 2px 2px blue;
}

.btn_addUser{
    width: 90%;
    background-color: blue;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    color: white;
    margin-bottom: 2%;
}