.registo-box{
    border: 2px solid black;
    border-radius: 15px;
    width: 45%;
    background-color: #555555;
    margin: 5%;
}
.credenciais{
    text-align: justify;
    margin: 5%;
    width: 95%;
}
h2{
    
    text-shadow: 2px 2px blue;
}
h3{
    margin-left: 10px;
}
h4{
    margin-bottom: 5%;
    color: rgb(244, 244, 248);
    font-style: italic;
    border-color: black;
    text-shadow: 2px 2px blue;
}

input{
    width: 90%;
    font-size: 20px;
    margin: 2px;
    border-radius: 5px;
}

.admin{
    display: flex;
    width: 30%;
}

button{
    width: 40%;
    background-color: blue;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 15px;
}

.btn_confirm{
    background-color: blue;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    margin: 2%;
}

.btn_cancel{
    background-color: red;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    margin: 2%;
}